Package: trimage
Version: 1.1
Architecture: all
Maintainer: Mikhail Novosyolov <mikhailnov@dumalogiya.ru>
Installed-Size: 104
Depends: python:any (<< 2.8), python:any (>= 2.7.5-5~), python-qt4 (>= 4.4), optipng (>= 0.6.2.1), advancecomp (>= 1.15), guetzli, pngcrush (>= 1.6.7)
Section: graphics
Priority: optional
Homepage: http://trimage.org
Description: GUI and command-line interface to optimize image files
 Trimage is a cross-platform GUI and command-line interface to optimize image
 files via optipng, advpng, pngcrush and guetzli, depending on the filetype
 (currently, PNG and JPG files are supported). All image files are losslessly
 compressed on the highest available compression levels. Trimage gives you
 various input functions to fit your own workflow: A regular file dialog,
 dragging and dropping and various command line options.
Python-Version: 2.7
