[Desktop Entry]
Name=Trimage image compressor
Comment=A cross-platform tool for optimizing PNG and JPG files.
Terminal=false
Icon=trimage
Type=Application
Exec=trimage
Categories=Application;Qt;Graphics;
StartupNotify=true
Keywords=compression,compressor,images,jpg,jpeg,png,web
